#ry-pg-body.container-1600 .ry-container {
	max-width: 1600px;
	width: 90%;
}

.team-inner-page.style3 .each-container[data-image=""] .photo {
	background: #6fa8dc;
}

.team-inner-page.style3 .each-container[data-image=""] .photo:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6vw;
    height: 6vw;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-person' viewBox='0 0 16 16'%3E%3Cpath d='M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z'/%3E%3C/svg%3E");
    background-size: 100%;
    transform: translate(-50%, -50%);
    filter: invert(1);
}

.team-inner-page.style3 .ry-each {
	padding: 35px;
	background: #f6f6f6;
	border: 1px solid transparent;
}
.team-inner-page.style3 .ry-flex .ry-each:not(:last-child) {
    margin-bottom: 60px;
}
.team-inner-page.style3 .ry-each.show-data {
    background: transparent;
    border-color: #dedede;
}
.team-inner-page.style3 .ry-flex {
    flex-wrap: wrap;
}

.team-inner-page.style3 .ry-each .photo {
    width: 220px;
    position: relative;
    padding-bottom: 220px;
    height: 0;
}

.team-inner-page.style3 .ry-each .each-container {
    display: flex;
}

.team-inner-page.style3 .ry-each .photo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.team-inner-page.style3 .ry-flex.object-top .photo img {
	-o-object-position: top;
	object-position: top;
	object-fit: contain;
}
.team-inner-page.style3 .ry-flex.object-bottom .photo img {
	-o-object-position: bottom;
	object-position: bottom;
}
.team-inner-page.style3 .ry-flex.object-center .photo img {
	-o-object-position: center;
	object-position: center;
}
.team-inner-page.style3 .ry-flex.object-left .photo img {
	-o-object-position: left;
	object-position: left;
}
.team-inner-page.style3 .ry-flex.object-right .photo img {
	-o-object-position: right;
	object-position: right;
}

.team-inner-page.style3 .ry-each .each-container .details .title h5 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.team-inner-page.style3 .ry-each .each-container .details .title p {
    /* margin-top: 0; */
    margin-bottom: 0 !important;
    line-height: 1;
    margin-top: 5px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600 !important;
    letter-spacing: 1px;
}

.team-inner-page.style3 .ry-each .each-container .team-social ul {
    padding-left: 0;
    list-style: none;
    display: flex;
}

.team-inner-page.style3 .ry-each .each-container .team-social ul li:not(:last-child) {
    margin-right: 10px;
}

.team-inner-page.style3 .ry-each .each-container .team-social ul li a {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background: #6fa8dc;
    border-radius: 50%;
}

.team-inner-page.style3 .ry-each .each-container .team-social ul li a svg {
    fill: #fff !important;
}

.team-inner-page.style3 .ry-each .each-container .team-social ul li a svg img {
    filter: invert(1) brightness(0);
}

.team-inner-page.style3 .team-social {
    margin-top: 40px;
}

.team-inner-page.style3 .team-excerpt p,
.team-inner-page.style3 .ry-each .each-container .details .team-full-description p {
    font-size: 18px !important;
    line-height: 1.6;
}
.team-inner-page.style3 .ry-each .each-container .details {
    display: flex;
    width: calc(100% - 220px);
}

.team-inner-page.style3 .ry-each .each-container .details .title {
    width: 30%;
    padding: 30px 3vw;
}

.team-inner-page.style3 .ry-each .each-container .details .team-excerpt,
.team-inner-page.style3 .ry-each .each-container .details .team-full-description {
	width: 70%;
	padding-right: 50px;
	padding-top: 20px;
}
.team-inner-page.style3 .ry-each .each-container .details .team-full-description p {
	line-height: 1.6;
}
.team-inner-page.style3 .team-excerpt .btn-excerpt {
    position: absolute;
    bottom: -35px;
    right: -35px;
    width: 60px;
    height: 60px;
    background: #6fa8dc;
}

.team-inner-page.style3 .team-excerpt .btn-excerpt:after {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus-lg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z'/%3E%3C/svg%3E");
    filter: invert(1);
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
}
.team-inner-page.style3 .team-excerpt .btn-excerpt.read-less:after {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash-lg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z'/%3E%3C/svg%3E");
}


.team-inner-page.style3 .ry-each[data-social=""] .details {
    flex-direction: column;
}

.team-inner-page.style3 .ry-each[data-social=""] .details .title {
    padding: 0;
}

.team-inner-page.style3 .ry-each[data-social=""] .details {
    padding-left: 3vw;
}

.team-inner-page.style3 .ry-each[data-social=""] .details .team-excerpt {
    width: 100%;
}
.team-inner-page.style3 .btn-excerpt {
    width: 60px;
    height: 60px;
    background: #6fa8dc;
    position: absolute;
    right: 0;
    bottom: 0;
}
.team-inner-page.style3 .btn-excerpt:before {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
	left: 50%;
	filter: invert(1);
	background-size: contain;
	background-repeat: no-repeat;
	transform: translate(-50%, -50%);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus-lg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z'/%3E%3C/svg%3E");
}
.team-inner-page.style3 .btn-excerpt.active:before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash-lg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z'/%3E%3C/svg%3E");
}
@media (max-width: 1680px) {
	.team-inner-page.style3 .team-excerpt p,
	.team-inner-page.style3 .ry-each .each-container .details .team-full-description p {
		font-size: calc(16px + 2 * ((100vw - 500px) / 940)) !important;
		line-height: 1.6;
	}
}
@media (max-width: 991px) {
	.team-inner-page.style3 .ry-each .each-container {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.team-inner-page.style3 .ry-each .each-container .details {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding-left: 0;
	}

	.team-inner-page.style3 .ry-each .each-container .details .title {
		width: 100%;
	}

	.team-inner-page.style3 .ry-each .each-container .details .title * {
		text-align: center;
		justify-content: center;
	}

	.team-inner-page.style3 .ry-each .each-container .details .team-excerpt,
	.team-inner-page.style3 .ry-each .each-container .details .team-full-description {
		padding-top: 0;
		width: 100%;
		text-align: center;
		padding-right: 0;
	}
	.team-inner-page.style3 .ry-each .each-container .details .team-excerpt p,
	.team-inner-page.style3 .ry-each .each-container .details .team-full-description p {
		text-align: center;
		margin-bottom: 30px;
	}

	.team-inner-page.style3 .ry-each[data-social=""] .details .title {
		padding: 30px 0;
	}
}